# Limpieza de la base de datos `bookmaker.db`

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

In [3]:
equipos = pd.read_csv('docs/equipo.csv')
partidos = pd.read_csv('docs/partidos.csv')

In [4]:
equipos.head()

        Ajax       ajax.png Paises Bajos  14
0   Atalanta   atalanta.png       Italia   6
1   Atlético   atletico.png       España  11
2  Barcelona  barcelona.png       España  17
3     Bayern     bayern.png     Alemania  16
4    Benfica    benfica.png     Portugal  15

In [5]:
partidos.head()

   14/09/2021 16:45  29   2  33  34  33.1
0  14/09/2021 16:45  31  19  33  34    33
1  14/09/2021 16:45  25  24  33  34    33
2  14/09/2021 19:00  11   6  33  34    33
3  14/09/2021 19:00   4   5  33  34    33
4  14/09/2021 19:00  16  30  33  34    33

El problema está en que los datos de los partidos están mal, y los de los equipos también, necesitamos datos actualizados y correctos de los últimos 10 años.

Esto serían datos suficientes para poder hacer predicciones más precisas sobre lo que podría pasar en un futuro.

In [6]:
import requests

In [7]:
import requests

url = "https://apiclient.besoccerapps.com/scripts/api/api.php?key={{APIKEY}}&tz=Europe/Madrid&req=categories&filter=my_leagues&format=json"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

response.text

'no-version.'